<!DOCTYPE html>

<html lang="hr">
  <head>
    <title>WEB_lab</title>
    <link rel="icon" type="image/x-icon" href="images/logo.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <h3>Ti si nas <%=id%>. kupac!</h3>
    <a href="/home/getCategories">udji u ducan</a>
  </body>
</html>
